@tailwind base;
@tailwind components;
@tailwind utilities;


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4b5563;
  color: white;
  padding: 1rem 0;
}

footer .container {
  @apply max-w-screen-lg mx-auto text-center;
}

.footer-wedge {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid white;
}

.footer-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
}
