@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-size: cover;
  overflow: auto;
}

/* Root Element */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
