.input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.default {
    width: 100%; /* Full width by default */
}

.large {
    padding: 12px 18px;
    font-size: 18px;
}

.small {
    padding: 4px 8px;
    font-size: 14px;
}

.input:disabled {
    background-color: #f4f4f4;
}
